<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-12/12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0">
        <div class="rounded-t mb-0 px-6 py-6">
          <div class="btn-wrapper text-center"></div>
        </div>
        <div class="rounded-t bg-white mb-0 px-4 py-4">
          <div class="text-center ">
            <h6 class="text-gray-800 text-xl font-bold">Inscription</h6>
          </div>
        </div>
        <hr class="mt-6 border-b-1 border-gray-400" />
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <form>
            <div class="flex flex-wrap">
              <div class="w-full lg:w-6/12 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
                    Nom
                  </label>
                  <input [(ngModel)]="Utilisateur.firstName" [ngModelOptions]="{standalone: true}" type="text"
                    class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                    placeholder="Nom" #name="ngModel" required/>
                </div>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="erreur"> * Name is required</div>
              </div>
              

              <div class="w-full lg:w-6/12 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
                    Prénom
                  </label>
                  <input [(ngModel)]="Utilisateur.lastName" [ngModelOptions]="{standalone: true}" type="text"
                    class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                    placeholder="Prénom" #prenom = "ngModel" required />
                </div>
                <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="erreur"> * Prenom is required</div>
              </div>

              <div class="w-full lg:w-6/12 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
                    tel
                  </label>
                  <input [(ngModel)]="Utilisateur.tel" [ngModelOptions]="{standalone: true}" type="number"
                    class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                    placeholder="tel" #tel= "ngModel" required />
                </div>
                <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="erreur"> * Tel is required</div>
              </div>

              <div class="w-full lg:w-6/12 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
                    Login
                  </label>
                  <input [(ngModel)]="Utilisateur.login" [ngModelOptions]="{standalone: true}" type="text"
                    class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                    placeholder="Login" #login= "ngModel" required />
                </div>
                <div *ngIf="login.invalid && (login.dirty || login.touched)" class="erreur"> * Login is required</div>
              </div>


              <div class="w-full lg:w-6/12 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
                    Password
                  </label>
                  <input type="password" [(ngModel)]="Utilisateur.password" [ngModelOptions]="{standalone: true}"
                    class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                    placeholder="Password" #password = "ngModel" required />
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="erreur"> * Password is required</div>
              </div>
              <div class="w-full lg:w-6/12 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
                    matricule
                  </label>
                  <input [(ngModel)]="Utilisateur.matricule" [ngModelOptions]="{standalone: true}" type="text"
                    class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                    placeholder="matricule" #matricule = "ngModel" required />
                </div>
                <div *ngIf="matricule.invalid && (matricule.dirty || matricule.touched)" class="erreur"> * Matricule is required</div>
              </div>

              <div class="w-full lg:w-6/12 px-4">
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
                    code
                  </label>
                  <input [(ngModel)]="Utilisateur.code" [ngModelOptions]="{standalone: true}" type="text"
                    class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                    placeholder="code" #code = "ngModel" required />
                </div>
                <div *ngIf="code.invalid && (code.dirty || code.touched)" class="erreur"> * Code is required</div>
              </div>

              <div class="text-center mt-6 lg:w-6/12 ">
                <button (click)="registerUser()"
                  class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  type="button">
                 Ajouter
                </button>
              </div>


            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>