<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-gray-700">
          La société de Transport de Tunis- Bienvenue chez TRANSTU- Nous sommes ici pour vous écouter-Bus, métro,TGM
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-gray-600">
          vous étes un employé chez
          <a
            href="https://www.transtu.tn/fr/"
            class="text-gray-700"
            target="_blank"
          >
            TRANSTU TUNISIE
          </a>
          vous pouvez nous informer pour toute les problémes ou les pannes tout au long du notre trois réseaux : le réseau d'autobus, le réseau de métro léger et la ligne ferroviaire du TGM 
        </p>
        <div class="mt-12">
          <a
          [routerLink]="['/auth/login']"
      
            class="text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blue-500 active:bg-blue-500 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          >
            connecter administrateur
          </a>
          <a
            href="auth/login"
            class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-green-500 active:bg-green-500 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          
          >
            connecter agent
          </a>
        </div>
      </div>
    </div>
  </div>

  <img
    class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="assets/img/bus vert-rogner.jpg"
    alt="..."
  />
</section>


<app-footer></app-footer>
