<nav
  class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-white shadow"
>
<img
width="150"
alt="Angular Logo"
src="assets/img/transtu.png"
/>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
 
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
  
      <a
        [routerLink]="['/']"
        class="text-green-500 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase"
        href="#pablo"
      >
        TRANSTU TUNISIE
      </a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        (click)="setNavbarOpen()"
      >
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div
      class="lg:flex flex-grow items-center"
      [ngClass]="{ hidden: !navbarOpen, block: navbarOpen }"
      id="example-navbar-warning"
    >
      <ul class="flex flex-col lg:flex-row list-none mr-auto">
        <li class="flex items-center">
          <a
            class="hover: text-green-500 text-gray-800 px-3 py-2 flex items-center text-xs uppercase font-bold"
            href="https://www.transtu.tn/fr/entreprise/0001-notre-mission.html"
          >
            <i
              class="text-green-500 far fa-file-alt text-lg leading-lg mr-2"
            ></i>
           A PROPOS
          </a>
        </li>
      </ul>
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li class="flex items-center">
       <!--   <app-index-dropdown class="block"></app-index-dropdown>-->
        </li>
      </ul>
    </div>
  </div>
</nav>
